<%- include('../partials/header') %>

<section class="about">
  <h2>About Me</h2>
  <p>
    Harry Potter is a wizard known for his adventures at Hogwarts School of
    Witchcraft and Wizardry.
  </p>
</section>

<%- include('../partials/footer') %>

<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.0/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/h9rkW6NSNmpZdgns/scene.splinecode"></spline-viewer>
